  body{ background-color:#fff;}
    .mui-bar{ background-color:#d43d3d;}
	.mui-title{ color:#fff; font-weight:bold;}
	.mui-bar .mui-icon{ color:#fff;}
	.mui-slider{ background-color:#f4f5f6;}
	.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active{ color:#d43d3d;}	
	
	.mui-bar~.mui-content .mui-fullscreen {	top: 44px; height: auto;}
	.mui-pull-top-tips { position: absolute; top: -20px; left: 50%; z-index: 1; width: 40px; height: 40px; margin-left: -25px; border-radius: 100%;}
	.mui-bar~.mui-pull-top-tips { top: 24px;}
	.mui-pull-top-wrapper { width: 42px; height: 42px; display: block; text-align: center; background-color: #efeff4; border: 1px solid #ddd; border-radius: 25px; background-clip: padding-box;box-shadow: 0 4px 10px #bbb; overflow: hidden;}
	.mui-pull-top-tips.mui-transitioning { -webkit-transition-duration: 200ms; transition-duration: 200ms;}
	.mui-pull-top-tips .mui-pull-loading { /*-webkit-backface-visibility: hidden; -webkit-transition-duration: 400ms; transition-duration: 400ms;*/	margin: 0;}
	.mui-pull-top-wrapper .mui-icon,
			.mui-pull-top-wrapper .mui-spinner {
				margin-top: 7px;
			}
			.mui-pull-top-wrapper .mui-icon.mui-reverse {
				/*-webkit-transform: rotate(180deg) translateZ(0);*/
			}
			.mui-pull-bottom-tips {
				text-align: center;
				background-color: #efeff4;
				font-size: 15px;
				line-height: 40px;
				color: #777;
			}
			.mui-pull-top-canvas {
				overflow: hidden;
				background-color: #fafafa;
				border-radius: 40px;
				box-shadow: 0 4px 10px #bbb;
				width: 40px;
				height: 40px;
				margin: 0 auto;
			}
			.mui-pull-top-canvas canvas {
				width: 40px;
			}
			.mui-slider-indicator.mui-segmented-control {
				background-color: #efeff4;
			}
	.mui-table-view .mui-media-object{ height: 71px; line-height: 42px; max-width: 109px;}
	.mui-table-view-cell h3{ line-height:22px; margin:0 0 8px; font-size:16px; font-weight:normal; white-space:normal;}
	.mui-table-view-cell .list_image ul { display: -moz-box; display: -webkit-box; display: box;  margin: 0 -4px; padding: 0; list-style-type: none; font-size: 0; text-align: center;}
	.mui-table-view-cell .list_image ul li{ -moz-box-flex: 1; -webkit-box-flex: 1; box-flex: 1; margin:0 4px;}
	.mui-table-view-cell .list_image ul li img{ height:71px;}
	.mui-table-view-cell .item_info{ font-size:12px; color:#999999;}
	.mui-table-view-cell .item_info .space{ padding-right:8px;}		